<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GUIDO-PEDIA</title>
    <link rel="stylesheet" href="/static/css/homestyle.css">
    <link rel="stylesheet" href="/static/css/homeabout.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="shortcut icon" href="https://cdn.glitch.global/6381ef59-eb50-4d44-894e-e3433b20eebb/favicon.png?v=1711010803060" type="image/x-icon">
</head>
<body>
 {{>navbar}}
       <!-- team section start -->

        <section class="about-achive">
        <div class="container container-achive">
            <div class="achive-left">
                <img src="https://cdn.glitch.global/6381ef59-eb50-4d44-894e-e3433b20eebb/aboutimg.png?v=1711010746809" alt="">
            </div>
            <div class="achive-right">
                <h1>TARGET</h1>
                <p>Unlock your full coding potential and embark on a journey to become a skilled programmer. Whether you are a beginner looking to get started or an 
                    experienced developer aiming to level up your skills, our platform offers a diverse range of coding courses to suit your needs.
                </p>
                <div class="achive-card">
                    <article class="acard">
                        <span class="achive-icon">
                            <span class="material-symbols-outlined">
                                dictionary
                                </span>
                        </span>
                        <h3>150+</h3>
                        <p>Courses</p>
                    </article>

                    <article class="acard">
                        <span class="achive-icon green">
                            <span class="material-symbols-outlined">
                                groups
                                </span>
                        </span>
                        <h3>7900+</h3>
                        <p>Students</p>
                    </article>

                    <article class="acard">
                        <span class="achive-icon blue">
                            <span class="material-symbols-outlined">
                                award_star
                                </span>
                        </span>
                        <h3>20+</h3>
                        <p>Resourses</p>
                    </article>
                </div>
            </div>
        </div>
        </section>


<!-- end of achive ment -->


<!-- team section -->
     <section class="team">
        <h2>Meet Our Team</h2>
        <h3 class="Guided">Guided By:- Prof. Sujata Helonde</h3>
        <div class="container team-container">

            <article class="team-member">
                <div class="t-image">
                    <img src="https://cdn.glitch.global/6381ef59-eb50-4d44-894e-e3433b20eebb/sachin.png?v=1711012067761" alt="sachin">
                </div>
                <div class="t-info">
                    <h4>Mr.Sachin Meshram</h4>
                    <p>Software Engineer</p>
                </div>
                <div class="t-social">
                    <a href="https://www.linkedin.com/in/sachin-meshram248" target="_blank"><span class="material-symbols-outlined">
                        contacts
                        </span></a>
                    <a href="https://www.linkedin.com/in/sachin-meshram248" target="_blank"><span class="material-symbols-outlined">
                        contact_phone
                        </span></a>
                    <a href="https://www.linkedin.com/in/sachin-meshram248" target="_blank"><span class="material-symbols-outlined">
                        youtube_searched_for
                        </span></a>
                </div>
            </article>

            <article class="team-member">
                <div class="t-image">
                    <img src="https://cdn.glitch.global/6381ef59-eb50-4d44-894e-e3433b20eebb/manas.png?v=1711010858011" alt="">
                </div>
                <div class="t-info">
                    <h4>Mr.Manas Barsagade</h4>
                    <p>Software Engineer</p>
                </div>
                <div class="t-social">
                    <a href="https://www.linkedin.com/in/manas-barsagade-b442211b7" target="_blank"><span class="material-symbols-outlined">
                        contacts
                        </span></a>
                    <a href="https://www.linkedin.com/in/manas-barsagade-b442211b7" target="_blank"><span class="material-symbols-outlined">
                        contact_phone
                        </span></a>
                    <a href="https://www.linkedin.com/in/manas-barsagade-b442211b7" target="_blank"><span class="material-symbols-outlined">
                        youtube_searched_for
                        </span></a>
                </div>
            </article>

            <article class="team-member">
                <div class="t-image">
                    <img src="https://cdn.glitch.global/6381ef59-eb50-4d44-894e-e3433b20eebb/ritik.png?v=1711012063357" alt="">
                </div>
                <div class="t-info">
                    <h4>Mr.Ritik Rajgire</h4>
                    <p>Software Engineer</p>
                </div>
                <div class="t-social">
                    <a href="https://www.linkedin.com/in/ritik-rajgire-677a5243" target="_blank"><span class="material-symbols-outlined">
                        contacts
                        </span></a>
                    <a href="https://www.linkedin.com/in/ritik-rajgire-677a5243" target="_blank"><span class="material-symbols-outlined">
                        contact_phone
                        </span></a>
                    <a href="https://www.linkedin.com/in/ritik-rajgire-677a5243" target="_blank"><span class="material-symbols-outlined">
                        youtube_searched_for
                        </span></a>
                </div>
            </article>

            <article class="team-member">
                <div class="t-image">
                    <img src="https://cdn.glitch.global/6381ef59-eb50-4d44-894e-e3433b20eebb/saurabh.png?v=1711012073416" alt="">
                </div>
                <div class="t-info">
                    <h4>Mr.Saurabh Besre</h4>
                    <p>Software Engineer</p>
                </div>
                <div class="t-social">
                    <a href="https://www.linkedin.com/in/saurabh-besre-1312b8294" target="_blank"><span class="material-symbols-outlined">
                        contacts
                        </span></a>
                    <a href="https://www.linkedin.com/in/saurabh-besre-1312b8294" target="_blank"><span class="material-symbols-outlined">
                        contact_phone
                        </span></a>
                    <a href="https://www.linkedin.com/in/saurabh-besre-1312b8294" target="_blank"><span class="material-symbols-outlined">
                        youtube_searched_for
                        </span></a>
                </div>
            </article>
            
        </div>
    </section>
<!-- team section end -->


 {{>footer}}
 


  <script src="/static/main.js"></script>
</body>
</html>