<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GUIDO-PEDIA</title>
    <link rel="stylesheet" href="/static/css/checkstyle/error.css">
     <link rel="shortcut icon" href="https://cdn.glitch.global/6381ef59-eb50-4d44-894e-e3433b20eebb/favicon.png?v=1711010803060" type="image/x-icon">
</head>
<body>
   <img src="https://cdn.glitch.global/6381ef59-eb50-4d44-894e-e3433b20eebb/error.png?v=1711010792925" alt="">
    <h1>Oop's Some thing is wrong!</h1>
   <button><a href="/">Try Again</a></button>
</body>
</html>