<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GUIDO-PEDIA</title>
    <link rel="stylesheet" href="/static/css/homestyle.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="shortcut icon" href="https://cdn.glitch.global/6381ef59-eb50-4d44-894e-e3433b20eebb/favicon.png?v=1711010803060" type="image/x-icon">
     <style>
        .courses{
            margin-top: 7rem;
            margin-bottom: 4rem;
        }
    </style>
</head>
<body>
  {{>navbar}}

    <!-- courses start -->

 <!--job -->

<section class="courses">
    <h2>Job</h2>
    <div class="container container-courses">
        <article class="course">
            <div class="course-img">
             <img src="https://cdn.glitch.global/6381ef59-eb50-4d44-894e-e3433b20eebb/nokri.svg?v=1711012053426" alt="">
            </div>
            <div class="course-info">
                <h2>Nokri.com</h2>
                <p>Finding the right job made easy with Naukri.com. Register Now and Apply to the best jobs! Get Headhunted By Top Recruiters and Find the Right Job On Naukri.com. Register Now!</p>
             <a href="https://www.naukri.com/" class="btn btn-primary"> Learn More</a>
            </div>
        </article>

       

        <article class="course">
            <div class="course-img">
             <img src="https://cdn.glitch.global/6381ef59-eb50-4d44-894e-e3433b20eebb/unshop.svg?v=1711012076364" alt="">
            </div>
            <div class="course-info">
                <h2>Unshop</h2>
                <p>Find the best start to your career on Unstop. Find the top roles in your dream company. Find multiple job opportunities for fresher roles on Unstop and apply today!</p>
                <a href="https://unstop.com/job-portal?eligible=students&ref=j0o9b8&gclid=EAIaIQobChMIvI3UgJKWhAMVIaNmAh1c3QSYEAAYASAAEgJj-_D_BwE" class="btn btn-primary"> Learn More</a>
            </div>
        </article>
       
        <article class="course">
            <div class="course-img">
             <img src="https://cdn.glitch.global/6381ef59-eb50-4d44-894e-e3433b20eebb/sala.png?v=1711012068797" alt="">
            </div>
            <div class="course-info">
                <h2>Internshala</h2>
                <p>Internshala is India's no.1 internship jobs and training platform with 40000+ paid internships in Engineering, MBA, media, law, arts, and other streams.</p>
                <a href="https://internshala.com/" class="btn btn-primary"> Learn More</a>
            </div>
        </article>
    </div>
</section>

 <!--Intenship-->

<section class="courses">
    <h2>Intenship</h2>
    <div class="container container-courses">
       

        <article class="course">
            <div class="course-img">
                <img src="https://cdn.glitch.global/6381ef59-eb50-4d44-894e-e3433b20eebb/aicte.svg?v=1711010760222" alt="">
            </div>
            <div class="course-info">
                <h2>AICTE</h2>
                <p>These internship programs are available through the government colleges affiliated with AICTE.</p>
                <a href="https://internship.aicte-india.org/" class="btn btn-primary"> Learn More</a>
            </div>
        </article>

        
        <article class="course">
            <div class="course-img">
             <img src="https://cdn.glitch.global/6381ef59-eb50-4d44-894e-e3433b20eebb/mark.png?v=1711010859649" alt="">
            </div>
            <div class="course-info">
                <h2>Slash Mark's Virtual Internship</h2>
                <p>Join Slash Mark's Virtual Internship and empower yourself to discover your ideal career path. Gain hands-on experience. Apply now!</p>
                <a href="https://www.slashmark.in/" class="btn btn-primary"> Learn More</a>
            </div>
        </article>
      
    </div>
</section>


<!--pracice -->
<section class="courses">
    <h2>Practice</h2>
    <div class="container container-courses">
        <article class="course">
            <div class="course-img">
                <img src="https://cdn.glitch.global/6381ef59-eb50-4d44-894e-e3433b20eebb/leet.png?v=1711010822068" alt="">
            </div>
            <div class="course-info">
                <h2>Leetcode</h2>
                <p>LeetCode is an online platform offering coding challenges and interview preparation resources for software engineers and developers. The service provides coding and algorithmic problems intended for users to practice coding.</p>
                <a href="https://leetcode.com/" class="btn btn-primary"> Learn More</a>
            </div>
        </article>

        <article class="course">
            <div class="course-img">
                <img src="https://cdn.glitch.global/6381ef59-eb50-4d44-894e-e3433b20eebb/gfg.png?v=1711010804792" alt="">
            </div>
            <div class="course-info">
                <h2>GreeksForGreeks</h2>
                <p>A Computer Science portal for geeks. It contains well written, well thought and well explained computer science and programming articles.</p>
                <a href="https://www.geeksforgeeks.org/" class="btn btn-primary"> Learn More</a>
            </div>
        </article>

        <article class="course">
            <div class="course-img">
                <img src="https://cdn.glitch.global/6381ef59-eb50-4d44-894e-e3433b20eebb/hr.png?v=1711010809979" alt="">
            </div>
            <div class="course-info">
                <h2>HackerRank</h2>
                <p>HackerRank is a technology company that focuses on competitive programming challenges for both consumers and businesses. Developers compete by writing programs according to provided specifications.</p>
                <a href="https://www.hackerrank.com/" class="btn btn-primary"> Learn More</a>
            </div>
        </article>
    </div>
</section>

<!--experiance -->
<section class="courses">
    <h2>For Experienced</h2>
    <div class="container container-courses">
        <article class="course">
            <div class="course-img">
                <img src="https://cdn.glitch.global/6381ef59-eb50-4d44-894e-e3433b20eebb/id.png?v=1711010813672" alt="">
            </div>
            <div class="course-info">
                <h2>Intenship</h2>
                <p>a period of time during which a student works for a company or organization in order to get experience of a particular type of work</p>
                <a href="https://in.indeed.com/" class="btn btn-primary"> Learn More</a>
            </div>
        </article>

        <article class="course">
            <div class="course-img">
                <img src="https://cdn.glitch.global/6381ef59-eb50-4d44-894e-e3433b20eebb/li.png?v=1711010839784" alt="">
            </div>
            <div class="course-info">
                <h2>Jobs</h2>
                <p>64% of job seekers get hired through a referral. Use LinkedIn Jobs to boost your chances of getting hired through people you know.</p>
                <a href="https://in.linkedin.com/jobs" class="btn btn-primary"> Learn More</a>
            </div>
        </article>

        <article class="course">
            <div class="course-img">
                <img src="https://cdn.glitch.global/6381ef59-eb50-4d44-894e-e3433b20eebb/nptel.png?v=1711012058135" alt="">
            </div>
            <div class="course-info">
                <h2>Other Courses</h2>
                <p>Most accessed library of peer-reviewed educational content in the world. NPTEL Online Certification Courses. Since 2013, through an online portal.</p>
                <a href="https://nptel.ac.in/" class="btn btn-primary"> Learn More</a>
            </div>
        </article>
    </div>
</section>

<!-- courses end -->

  {{>footer}}

  <script src="/static/main.js"></script>
</body>
</html>