<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI CHATbot</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/checkstyle/gptstyle.css">
    <link rel="shortcut icon" href="/static/css/checkstyle/img/robo.png" type="image/x-icon">
</head>

<body>
    <div class="note4">
        <img src="/static/css/checkstyle/img/robo.png" alt="">
        <h2>hi, I am your personal AI assistant</h2>
    </div>
    <div class="chatbot">
        <header>
            <h2>Chatbot</h2>
        </header>

        <ul class="chatbox">
            <li class="chat incoming">
                <span><img class="robo" src="/static/css/checkstyle/img/robo.png" alt="img"></span>
                <p>hi there <br> How can i help you today?</p>
            </li>
            <!-- <li class="chat outgoing">
                <p>Your solution of todays problem.</p>
            </li> -->
        </ul>
        <div class="chat-input">
            <textarea placeholder="Ask Your Question..." required></textarea>
            <span class="material-symbols-outlined">
                send
            </span>
        </div>

    </div>
    <script src="/static/css/js/gptscript.js" defer></script>
</body>

</html>