<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>GUIDO-PEDIA</title>
    <link rel="stylesheet" href="/static/css/checkstyle/signupstyle.css">
    <link rel="shortcut icon" href="https://cdn.glitch.global/6381ef59-eb50-4d44-894e-e3433b20eebb/favicon.png?v=1711010803060" type="image/x-icon">
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
       <section class="main">
        <h2 class="heading">Create New Account</h2>
        <form class="container" action="/signup" method="post">

             <input type="text" class="iname" id="" placeholder="First Name" name="firstname" autocomplete="off" required>
             <input type="text" class="iname" id="" placeholder="Last Name" name="lastname" autocomplete="off" required>
             <input type="email" class="iname" id="" placeholder="Your Email" name="email" autocomplete="off" required>
             <input class="ipass" type="password" name="password" placeholder="password" id="" required>
             <input class="btn" type="submit" value="CREATE ACCOUNT">
             
        </form>
     </section>
</body>
</html>