
 <!-- categories tag -->
   <section class="categories">
        <div class="container container-categories">
            <div class="categories-left">
                <h1>CATEGORIES</h1>
                <p>Learn Coding or improve your skills online today. Choose from a wide range of Coding courses offered
                    from top demanded and industry leaders suggested.
                </p>
                <a href="/coursesteam" class="btn ">Learn More</a>
            </div>

            <div class="categories-right">
                <article class="category">
                    <span class="category-icon">
                        <!-- java icon -->
                        <span class="material-symbols-outlined">
                            code
                        </span>
                        <!-- <img src="/static/assets/icon.png" alt=""> -->
                    </span>
                    <h5>Java</h5>
                    <p>Java is a high-level, class-based, object-oriented language
                    </p>
                </article>

                <article class="category">
                    <span class="category-icon">
                        <!-- java icon -->
                        <span class="material-symbols-outlined">
                            terminal
                        </span>
                    </span>
                    <h5>Python</h5>
                    <p>Python is a high-level, general-purpose language
                    </p>
                </article>

                <article class="category">
                    <span class="category-icon">
                        <!-- java icon -->
                        <span class="material-symbols-outlined">
                            php
                        </span>
                    </span>
                    <h5>PHP</h5>
                    <p>PHP is a general-purpose scripting language or web development
                    </p>
                </article>

                <article class="category">
                    <span class="category-icon">
                        <!-- java icon -->
                        <span class="material-symbols-outlined">
                            html
                        </span>
                    </span>
                    <h5>HTML</h5>
                    <p>The HTML is the standard markup language
                    </p>
                </article>

                <article class="category">
                    <span class="category-icon">
                        <!-- java icon -->
                        <span class="material-symbols-outlined">
                            css
                        </span>
                    </span>
                    <h5>CSS</h5>
                    <p>Cascading Style Sheets is a style sheet language
                    </p>
                </article>

                <article class="category">
                    <span class="category-icon">
                        <!-- java icon -->
                        <span class="material-symbols-outlined">
                            data_object
                        </span>
                    </span>
                    <h5>Javascript</h5>
                    <p>JS,is one of the core technologies of the World Wide Web
                    </p>
                </article>
            </div>
        </div>
    </section>
 
 <!-- categories end -->