 <section class="contact">
        <div class="container contact-container">
            <aside class="contact-aside">
                <div class="aside-img">
                    <img src="https://cdn.glitch.global/6381ef59-eb50-4d44-894e-e3433b20eebb/contactimg.png?v=1711010777935" alt="">
                </div>
                <h2>Contact Us</h2>
                <p>We are provide 24/7 customer service, if you have any doubt related any thing so, free to ask. we are provide you best posible solution</p>
                <ul class="contact-detail">
                    <li>
                        <span class="material-symbols-outlined">
                            call
                            </span>
                        <h5>+91 8010232634</h5>
                    </li>
                    <li>
                        <span class="material-symbols-outlined">
                            mail
                            </span>
                        <h5>guidopedia3@gmail.com</h5>
                    </li>
                    <li>
                        <span class="material-symbols-outlined">
                            pin_drop
                            </span>
                        <h5>Nagpur</h5>
                    </li>
                </ul>

                <ul class="contact-socials">
                    <li><a href="#"><span class="material-symbols-outlined">
                        share
                        </span></a></li>
                    <li><a href="#"><span class="material-symbols-outlined">
                        switch_account
                        </span></a></li>
                    <li><a href="#"><span class="material-symbols-outlined">
                        linked_camera
                        </span></a></li>
                    <li><a href="#"><span class="material-symbols-outlined">
                        youtube_activity
                        </span></a></li>
                </ul>
            </aside>


            <form  class="contact-form" action="https://formspree.io/f/xrgwyoza" method="POST">
                <div class="form-name">
                    <input type="text" name="first_name" id="" placeholder="First Name" required>
                    <input type="text" name="last_name" id="" placeholder="Last Name" required>
                </div>
                <input type="email" name="email" placeholder="Your Email" id="" required>

                <textarea  name="message" id="" cols="" rows="7" placeholder="Your Message" required ></textarea>

                <button type="submit" name="submit" class="btn btn-primary">Send Message</button>
            </form>
        </div>
    </section>