
<!-- course start -->
<section class="courses">
        <h2>POPULAR COURSES</h2>
  
        <div class="container container-courses">
            <article class="course">
                <div class="course-img">
                    <img src="https://cdn.glitch.global/6381ef59-eb50-4d44-894e-e3433b20eebb/webc.png?v=1711012086603" alt="img">
                </div>
                <div class="course-info">
                    <h4>WED DEVELOPMENT</h4>
                    <p>Web development is the work involved in developing a website for the Internet or an intranet.</p>
                    <a href="/coursesteam" class="btn btn-primary"> Learn More</a>
                </div>
            </article>

            <article class="course">
                <div class="course-img">
                    <img src="https://cdn.glitch.global/6381ef59-eb50-4d44-894e-e3433b20eebb/javac.png?v=1711010818996" alt="">
                </div>
                <div class="course-info">
                    <h4>JAVA</h4>
                    <p>Master the fundamentals of Java and gain the skills needed for advanced Java development. This
                        easy-to-follow course is designed with beginners in mind, </p>
                    <a href="/coursesteam" class="btn btn-primary"> Learn More</a>
                </div>
            </article>

            <article class="course">
                <div class="course-img">
                    <img src="https://cdn.glitch.global/6381ef59-eb50-4d44-894e-e3433b20eebb/andc.png?v=1711010765240" alt="">
                </div>
                <div class="course-info">
                    <h4>ANDROID APP DEVELOPMENT</h4>
                    <p>Users can engage with dynamic and segmented app features and notifications, Build, launch..</p>
                    <a href="/coursesteam" class="btn btn-primary"> Learn More</a>
                </div>
            </article>
        </div>
  
  
    </section>


  <script src="/static/main.js"></script>
<!-- courses end -->