  <!-- header tag -->
    <header>
        <div class="container header-container">
            <div class="header-left">
                <h1>Grow your skill and find right career path</h1>
                <p>Education is the passport to the future, for tomorrow belongs to those who prepare for it today...
                </p>
                
                 {{!--<a href="chatgptme" class="btn btn-primary btnai">AI Assistant</a>--}}
                 
                <a href="https://cdn.glitch.global/6381ef59-eb50-4d44-894e-e3433b20eebb/Basic%20Guideline.pdf?v=1711013175950" target="_blank" class="btn btn-primary" id="pdf" onclick="downloadPDF()">User Guide</a>
            </div>
            <div class="header-right">
                <div class="header-right-img">
                    <img src="https://cdn.glitch.global/6381ef59-eb50-4d44-894e-e3433b20eebb/hero-bg.png?v=1711010808654" alt="img">
                </div>
            </div>
        </div>
    </header>
    <!-- header end -->