<nav id="navi">
  <div class="container nav-container">
    <a href="home">
      <h4>GUIDO-PEDIA</h4>
    </a>
    <ul class="nav-menu">
      <li><a href="/home">Home</a></li>
      <li><a href="/aboutteam">About</a></li>
      <li><a href="/coursesteam">Courses</a></li>
      <li><a href="/contactteam">Contact</a></li>
      <li><a href="/foryou">Job Intenships</a></li>
      <li><a href="https://chat-app-ufzf.onrender.com/" target="_blank">Chat With Expert</a></li>
      <!-- <li><a href="https://mkscrx-5173.csb.app/">Mock Test</a></li>-->
    </ul>
    <!-- hami bargan -->
    <!-- close icon -->
    <button>
      <span id="open-menu-btn" class="material-symbols-outlined">
        menu
      </span>
      <span id="close-menu-btn" class="material-symbols-outlined">
        close
      </span>
    </button>
  </div>
</nav>