
<!-- freq start -->
    <section class="freq">
        <h2>ASK ME(Guidopedia)</h2>
        <div class="container container-freq">


            <article class="togglebtn">
                <div>
                    <!-- <img class="more" src="./assets/expandmore.png" alt="dss">
                    <img class="less" style="display: none;" src="./assets/expandless.png" alt=""> -->
                </div>
                <div>
                    <div class="mm">
                        <h2>How To Prepare For Placement?</h2>
                        <div class="content" style="display: none;">
                            <!-- you'll learn higher-end skills, get a high-paying job, gain required experience and build a
                            strong network in your field, which are going to positively impact and improve your resume
                            status. -->
                        </div>
                    </div>
                </div>
            </article>

            <article class="togglebtn">
                <div>
                    <!-- <img class="more" src="./assets/expandmore.png" alt="">
                    <img class="less" style="display: none;" src="./assets/expandless.png" alt=""> -->
                </div>
                <div>
                    <div class="mm">
                        <h2>Tell Me Important Topics In Apptitude? </h2>
                        <div class="content" style="display: none;">
                            <!-- Yes,you can Complete this course online. -->
                        </div>
                    </div>
                </div>
            </article>


            <article class="togglebtn">
                <div>
                    <!-- <img class="more" src="./assets/expandmore.png" alt="dss">
                    <img class="less" style="display: none;" src="./assets/expandless.png" alt=""> -->
                </div>
                <div>
                    <div class="mm">
                        <h2>How To Prepare DSA? </h2>
                        <div class="content" style="display: none;">
                            <!-- Nothing,it is completely free. -->
                        </div>
                    </div>
                </div>
            </article>


            <article class="togglebtn">
                <div>
                    <!-- <img class="more" src="./assets/expandmore.png" alt="dss">
                    <img class="less" style="display: none;" src="./assets/expandless.png" alt=""> -->
                </div>
                <div>
                    <div class="mm">
                        <h2>How Can I Start Web Development?</h2>
                        <div class="content" style="display: none;">
                            <!-- You Can Send Your Query In Contact Form. -->
                        </div>
                    </div>
                </div>
            </article>


            <article class="togglebtn">
                <div>
                    <!-- <img class="more" src="./assets/expandmore.png" alt="dss">
                    <img class="less" style="display: none;" src="./assets/expandless.png" alt=""> -->
                </div>
                <div>
                    <div class="mm">
                        <h2>How Can I Start App Development?</h2>
                        <div class="content" style="display: none;">
                            <!-- Normally, 4 to 5 Months. -->
                        </div>
                    </div>
                </div>
            </article>

            <article class="togglebtn">
                <div>
                    <!-- <img class="more" src="./assets/expandmore.png" alt="dss">
                    <img class="less" style="display: none;" src="./assets/expandless.png" alt=""> -->
                </div>
                <div>
                    <div class="mm">
                        <h2>Make The Roadmap For Web Development</h2>
                        <div class="content" style="display: none;">
                            <!-- Nothing.. -->
                        </div>
                    </div>
                </div>
            </article>

        </div>
    </section>

    <!-- end of container-freq -->