body{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    button{
        background-color: black;
       padding: 4px;
       border-radius: 10%;
    }
     button:hover{
        cursor:pointer;
     }
    a{
        color: white;
        text-decoration: none;
        font-size: 2rem;
        margin: 2px;

    }
    img{
        height: 60%;
        width: 50%;
    }
